
<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">

<h1>Productos#index</h1>
<p>Find me in app/views/productos/index.html.erb</p>

<div class="col-sm-12 jumbotron">

<%= session.to_json %>
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead><tr>
    <td>id</td>
    <td>codigo</td>
    <td>nombre</td>
    <td>precio</td>
    <td>stock</td>
    <td>acciones</td>
    </tr>

  </thead>
  <tfoot>
  <tr>
    <td>id</td>
    <td>codigo</td>
    <td>nombre</td>
    <td>precio</td>
    <td>stock</td>
    
    <td>acciones</td>
  </tr>
  </tfoot>
  <tbody>
  <% @productos.each do |row| %>
    <tr>
      <td><%= row.id %></td>
      <td><%= row.codigo %></td>
      <td><%= row.nombre %></td>
      <td><%= row.precio %></td>
      <td><%= row.stock %></td>
      <td><a href="">view</a> / <a href="">delete</a> / <a href="/productos/<%= row.id %>/edit">edit</a> / <a href="/publish/new?idProduct=<%= row.id %>">publish</a></td>
                </tr>
    <% end %>
            
              </tbody>
            ""

</table>
<a href="/productos/new" class="btn btn-primary">Nuevo</a>
</div>

<script>
$(function(){
  $(".publish").click(function() {
        var elem = $(this);
        var id = elem.data("id");
          
  });
    var data_table = $("#example").DataTable();
  
    function myfunction(){
      if(!data_table){
        $("#example").DataTable();
      }
    }
    myfunction();
});

</script>
